<?php

# Settings
$settings = array (
	'username' => 'the_username',
	'password' => 'the_password',
);

# Load and run the conference bookings class
require_once ('vendor/autoload.php');
new conferenceBookings ($settings);

?>
