#conferencebookings ul.tabs {clear: right;}

#conferencebookings .lines form tr.dietaryRequirements td {border-bottom-width: 0;}
#conferencebookings form tr.dietaryDetails td.title {visibility: hidden;}